
window {
    margin: 0px;
    border: 10px solid #E668B8;
    background-color: #E668B8;
    border-radius: 15px;
}

#input {
    padding: 4px;
    padding-left: 20px;
    border: none;
    color: #171617;
    font-weight: bold;
    background-color: #171617;
    background: linear-gradient(90deg, rgba(240, 160, 156, 1) 0%, rgba(230, 102, 185, 1) 100%);
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    padding-bottom: 4px;
}
#input:focus {
    border: 0px solid #171617;
    margin-bottom: 0px;
}

#inner-box {
    padding: 4px;
    border: 10px solid #171617;
    color: #EB81AB;
    font-weight: bold;
    background-color: #171617;
    border-radius: 20px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #171617;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    background: #171617;
}

#text:selected {
    color: #171617;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry {
    padding: 10px;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    background: linear-gradient(90deg, rgba(240, 160, 156, 1) 0%, rgba(230, 102, 185, 1) 100%);
}
