window {
    margin: 100px;
    border: 10px solid #ff8ce6;
    background-color: #ff8ce6;
    border-radius: 30px;
}

#input {
    padding: 4px;
    padding-left: 20px;
    border: none;
    color: #100910;
    font-weight: bold;
    background-color: #100910;
    background: linear-gradient(90deg, rgba(255, 140, 234, 1) 0%, rgba(167, 107, 190, 1) 100%);
    outline: none;
    border-radius: 20px;
    margin: 10px;
    padding-bottom: 4px;
}
#input:focus {
    border: 0px solid #100910;
    margin-bottom: 0px;
}

#inner-box {
    padding: 4px;
    border: 10px solid #100910;
    color: #ff8ce6;
    font-weight: bold;
    background-color: #100910;
    border-radius: 20px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #100910;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    background: #100910;
}

#text:selected {
    color: #100910;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry {
    padding: 10px;
    margin: 0px 0px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

#entry:selected {
    background: linear-gradient(90deg, rgba(255, 140, 234, 1) 0%, rgba(167, 107, 190, 1) 100%);
}
